  	<legend>Usage</legend>
  	  <p class=".container"><strong>Naming scheme:</strong><br> <i>The naming scheme has two options.</i>  
  	    <ol>
	  	    <li> The first option calculates the IV percentage and puts that before with the species name (to allow sorting by IV percentage).  The species name may be truncated and have characters removed from the end due to a limited character limit. 
	  	    <li> The second option shows you the raw IV's of the Pokemon.  The first number is the sum of the following three (displayed in this order): Stamina, Attack, and Defense.</p>
  	    </ol> 
  	  <p><strong>Additional options:</strong><br> By default, anything with a comma in its name will remain untouched.  You may over-ride this by using the 'reset comma' option.</p>
  	  <p><strong>Note:</strong><br> Each time you run the naming process, it only renames Pokemon that are not already named, per the scheme you choose.
  	    <br><u>Example:</u> If you have 45 Pokemon and run the "percentage" naming scheme on it, then catch 3 more Pokemon and run it again, it will only list name (and list) the three <i>new</i> Pokemon.  
