<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	
	<meta charset="utf-8">	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      $(function () {

        $('form').on('submit', function (e) {

          e.preventDefault();

          $.ajax({
            type: 'post',
            url: '/',
            data: $('form').serialize(),
            success: function () {
              alert('Done! Please wait up to 2 minutes to see changes in game.');
            }
            
          });

        });

      });
	</script>
	
    <meta name="viewport" content="device-width, initial-scale=1">
  </head>
  
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<form class="form-horizontal">
	<fieldset>
	
	<!-- Form Name -->
	<legend>Account Info</legend>
	
	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput" >Username</label>  
	  <div class="col-md-4">
	  <input id="email" name="email" type="text" placeholder="username" class="form-control input-md" autocorrect="off"> 
	  </div>
	</div>
	
	<!-- Password input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="password">Password</label>
	  <div class="col-md-4">
	    <input id="password" name="password" type="password" placeholder="password" class="form-control input-md">
	  </div>
	</div>
	
	<!-- Multiple Radios (inline) -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="radios">Account Type</label>
	  <div class="col-md-4"> 
	    <label class="radio-inline" for="google">
	      <input type="radio" name="method" id="google" value="google" checked="checked">
	      Google
	    </label> 
	    <label class="radio-inline" for="ptc">
	      <input type="radio" name="method" id="ptc" value="ptc">
	      PTC
	    </label> 
	  </div>
	</div>
	
	<!-- Multiple Radios (inline) -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="radios">Naming scheme</label>
	  <div class="col-md-4"> 
	    <label class="radio-inline" for="percentage">
	      <input type="radio" name="scheme" id="percentage" value="percentage" checked="checked">
	      IV percentage with Pokemon type <a href="#" data-toggle="popover" title="Click image to close" data-html="true" data-trigger="hover" data-placement="bottom" data-content="<img src='/images/percentage.small.png' width='200' />">(info)</a>
	    </label>
	    <br>
	    <label class="radio-inline" for="raw">
	      <input type="radio" name="scheme" id="raw" value="raw">
	      Raw IV's (Total:Stamina.Attack.Defense) <a href="#" data-toggle="popover" title="Click image to close" data-html="true" data-trigger="hover" data-placement="bottom" data-content="<img src='/images/raw.small.png' width='200' />">(info)</a>
	    </label> 
	  </div>
	</div>
	
	<!-- Multiple Checkboxes -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="checkboxes">Additional options</label>
	  <div class="col-md-4">
	  <div class="checkbox">
	    <label for="commas">
	      <input type="checkbox" name="reset_commas" id="reset_commas" value="yes">
	      Reset commas 
	    </label>
		</div>
      </div>
	</div>
	
	<!-- Button -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="submit"></label>
	  <div class="col-md-4">
	    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
	  </div>
	</div>
	
	</fieldset>
	</form>
  
  
  	<legend>Output</legend>
  	  <p><strong>Output:</strong>  
  	  <p><span id='output'></span>




  	<legend>Usage explained</legend>
  	  <p><strong>Naming scheme:</strong> The naming scheme has two options.  
  	    <br><strong>(1)</strong> The first option calculates the IV percentage and puts that before with the species name (to allow sorting by IV percentage).  The species name may be truncated and have characters removed from the end due to a limited character limit. 
  	    <br><strong>(2)</strong> The second option shows you the raw IV's of the Pokemon.  The first number is the sum of the following three (displayed in this order): Stamina, Attack, and Defense.</p> 
  	  <p><strong>Additional options:</strong><br> By default, anything with a comma in its name will remain untouched.  You may over-ride this by using the 'reset comma' option.</p>

  
    
    <script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});
	</script>
	<p> Last update: 1-8-2017
  </body>
</html>