<% layout('layout') -%>

<script>
      $(function () {


        $('form').on('submit', function (e) {
          e.preventDefault();
		  $('.body-top').html('<legend>Renaming the following:</legend><p>Processing...');
          $.ajax({
            type: 'post',
            url: '/',
            data: $('form').serialize(),
            success: function (response) {
            pokebox = JSON.parse(response)
              $('.body-top').html(pokebox[0]);
             
            }
          
          
         
            
          });
		parsePokemon(pokebox[1])
        });

      });
      function parsePokemon(pokebox) {
      	$('.body-lower').html(pokebox.cp);
      }
</script>

<script>
 		  //you just added the above foreach and the 'var pokebox' up top
          //it's posting the form data to the end of the url
          //you should figure out why that happens and what else to do
          
          
          //basically you want to parse the pokebox[1] data into what it is
          //with the pokemon's picture next to it, it will be sweet, trust me
          //oh maybe do the hover over thing (like the 'info' pics)
          //with info about the 'mons! That's a freaking sweet idea and a cool
          //ass way to reuse that code right down below this!
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});
</script>

<div class="body-top">
</div>
<div class="body-main">
        

	<form class="form-horizontal">

	<!-- Form Name -->
	<legend>Account Info</legend>
	
	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput" >Username</label>  
	  <div class="col-md-4">
	  <input id="email" name="email" type="text" placeholder="username" class="form-control input-md" autocorrect="off"> 
	  </div>
	</div>
	
	<!-- Password input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="password">Password</label>
	  <div class="col-md-4">
	    <input id="password" name="password" type="password" placeholder="password" class="form-control input-md">
	  </div>
	</div>
	
	<!-- Multiple Radios (inline) -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="radios">Account Type</label>
	  <div class="col-md-4"> 
	    <label class="radio-inline" for="google">
	      <input type="radio" name="method" id="google" value="google" checked="checked">
	      Google
	    </label> 
	    <label class="radio-inline" for="ptc">
	      <input type="radio" name="method" id="ptc" value="ptc">
	      PTC
	    </label> 
	  </div>
	</div>
	
	<!-- Multiple Radios (inline) -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="radios">Naming scheme</label>
	  <div class="col-md-4"> 
	    <label class="radio-inline" for="percentage">
	      <input type="radio" name="scheme" id="percentage" value="percentage" checked="checked">
	      IV percentage with Pokemon type <a href="#" data-toggle="popover" title="Click image to close" data-html="true" data-trigger="hover" data-placement="bottom" data-content="<img src='/images/percentage.small.png' width='200' />">(info)</a>
	    </label>
	    <br>
	    <label class="radio-inline" for="raw">
	      <input type="radio" name="scheme" id="raw" value="raw">
	      Raw IV's (Total:Stamina.Attack.Defense) <a href="#" data-toggle="popover" title="Click image to close" data-html="true" data-trigger="hover" data-placement="bottom" data-content="<img src='/images/raw.small.png' width='200' />">(info)</a>
	    </label> 
	  </div>
	</div>
	
	<!-- Multiple Checkboxes -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="checkboxes">Additional options</label>
	  <div class="col-md-4">
	  <div class="checkbox">
	    <label for="commas">
	      <input type="checkbox" name="reset_commas" id="reset_commas" value="yes">
	      Reset commas 
	    </label>
		</div>
      </div>
	</div>
	
	<!-- Button -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="submit"></label>
	  <div class="col-md-4">
	    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
	  </div>
	</div>
	
	</fieldset>
	</form>
</div>

<div class="body-mid">
      <% include includes/usage.ejs%>
</div>

<div class="body-lower">
	
</div>


	
